@model  ApplicationUser

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Bonuspoäng</th>
            </tr>
        </thead>
        <tr>
            <td>
                @Model.Id
            </td>
            <td>
                @Model.BonusPoints
            </td>
        </tr>
    </table>