@model FoodManageViewModel

    <form>
        <div class="form-group">
            <label>Namn:</label>
            <input type="text" class="form-control" value="@Model.Food.MatrattNamn">
        </div>
        <div class="form-group">
            <label>Beskrivning:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">@Model.Food.Beskrivning</textarea>
        </div>
        <div class="form-group">
            <label>Pris:</label>
            <input type="text" class="form-control" value="@Model.Food.Pris">
        </div>
    </form>