.adminHomeBtn{
    width:400px;
}

.userManagementBtn{
    width:100px;
}

#orderUsers{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:10px;
}

#userSelect {
    width: 200px;
    margin-right: 10px;
    margin-left:10px;
}

#inputGroup{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#changeFood, #createFood, #createIngredient{
    display:none;
}

textarea {
    resize: none;
}