#mainContent{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:20px;
}

#sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-left: 1px solid black;
}

.nameCol{
    width:20%;
}

.ingredientCol {
    width: 30%;
}

.priceCol{
    width: 10%;
}

.amountSelect{
    width:60%;
}

.amountCol{
    width:20%;
}

.userManagementBtn{
    margin-left:10px;
}

#cartHeader {
    margin-top: 5%;
}

.thead {
    background-color: #B60609;
    color: white;
}

#paymentDetails{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:90%;
}

#confirmationContainer {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding:20px;
}

#pizzaImg{
    width:300px;
    padding:20px;
}