#mainContent{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:20px;
}

#sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.nameCol{
    width:20%;
}

.ingredientCol {
    width: 30%;
}

.priceCol{
    width: 10%;
}

.amountSelect{
    width:60%;
}

.amountCol{
    width:20%;
}

.userManagementBtn{
    margin-left:10px;
}