@model TomasosPizzeria.Models.Kund

@{
    ViewBag.Title = "Login";
}

    <form asp-controller="Customer" asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="AnvandarNamn"></label>
            <input asp-for="AnvandarNamn" type="text" class="form-control">
            <span class="errorText" asp-validation-for="Namn"></span>
        </div>
        <div class="form-group">
            <label asp-for="Losenord"></label>
            <input asp-for="Losenord" type="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>