@model UserViewModel

@{
    ViewBag.Title = "Admin";
}

@section style{
    <link rel="stylesheet" href="~/css/Admin.css" />
}

<div class="container d-flex flex-column align-items-center">
    <div class="row">
        <div class="col mt-5">
            <h1>Hantera Användare</h1>
        </div>
    </div>

    <div class="row">
        <div class="col mt-3">
            <ul>
                @foreach (var user in Model.Users)
                {
                    <li>@user.Name</li>
                }
            </ul>
        </div>
    </div>
</div>
