@model UserViewModel
@inject  UserManager<ApplicationUser> userManager;

@{
    ViewBag.Title = "Admin";
}

@section style{
    <link rel="stylesheet" href="~/css/Admin.css" />
}

<div class="container d-flex flex-column align-items-center">
    <div class="row">
        <div class="col mt-5">
            <h1>Hantera Användare</h1>
        </div>
    </div>

    <div class="row">
        <div class="col mt-3">
            @foreach (var role in Model.Roles)
            {
                <h4>@role.Name</h4>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Namn</th>
                            <th scope="col">Editera</th>
                            <th scope="col">Ta bort</th>
                            <th scope="col">Ändra medlemskap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select class="form-control" id="userSelect">
                                        @foreach (var user in Model.Users)
                                        {
                                            if (await userManager.IsInRoleAsync(user, role.Name))
                                            {
                                                <option>@user.Name</option>
                                            }
                                        }
                                    </select>
                                </div>

                            </td>
                            <td><button class="btn btn-danger userManagementBtn">Editera</button></td>
                            <td><button class="btn btn-danger userManagementBtn">Ta bort</button></td>
                            <td>
                                <div class="form-group">
                                    <select class="form-control" id="userSelect">
                                        @foreach (var roles in Model.Roles)
	                                    {
                                            <option>@roles.Name</option>
	                                    }
                                    </select>
                                </div>
                            </td>
                            <td><button class="btn btn-danger userManagementBtn">Ändra</button></td>
                        </tr>
                    </tbody>
                </table>
        }
                    
            </div>
    </div>
</div>
