@model FoodManageViewModel

@{
    ViewBag.Title = "Admin";
}

@section style{
    <link rel="stylesheet" href="~/css/Admin.css" />
}

<div class="container d-flex flex-column align-items-center">
    <div class="row">
        <div class="col mt-5">
            <h1>Hantera Maträtter</h1>
        </div>
    </div>

    <div class="row">
        <div class="col mt-3">
            <button onclick="toogleDiv('#changeFood')" class="btn btn-danger adminHomeBtn" role="button" aria-pressed="true">Ändra befintlig maträtt</button>
        </div>
    </div>

    <div id="changeFood">
        <h5>Välj Maträtt:</h5>
        <form asp-controller="Admin" asp-action="GetFoodDetails"
              data-ajax="true"
              data-ajax-method="GET"
              data-ajax-mode="replace"
              data-ajax-update="#foodDetails">
            <select class="form-control" asp-for=FoodId asp-items="@Model.FoodSelectList"></select>
            <input type="submit" class="btn btn-danger" value="Redigera" />
        </form>
        <div id="foodDetails"></div>
    </div>

    <div class="row">
        <div class="col mt-3">
            <button onclick="toogleDiv('#createFood')" class="btn btn-danger adminHomeBtn" role="button" aria-pressed="true">Skapa ny maträtt</button>
        </div>
    </div>

    <div id="createFood">
        <form asp-action="CreateFood" method="post">
        <div class="form-group">
            <label>Kategori:</label>
            <select class="form-control" asp-items="@Model.CategorySelectList" asp-for="Food.MatrattTyp"></select>
        </div>
        <div class="form-group">
            <label>Namn:</label>
            <input type="text" class="form-control" asp-for="Food.MatrattNamn">
        </div>
        <div class="form-group">
            <label>Beskrivning:</label>
            <textarea class="form-control" asp-for="Food.Beskrivning" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Pris:</label>
            <input type="text" class="form-control" asp-for="Food.Pris">
        </div>
        <input type="submit" class="btn btn-danger" value="Skapa maträtt" />
    </form>
    </div>

    <div class="row">
        <div class="col mt-3">
            <button onclick="toogleDiv('#createIngredient')" class="btn btn-danger adminHomeBtn" role="button" aria-pressed="true">Skapa ny ingrediens</button>
        </div>
    </div>

    <div id="createIngredient">
        <form asp-action="CreateIngredient"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#foodDetails">
            <div class="form-group">
                <input type="hidden" asp-for="FoodId" value="@Model.FoodId" />
                <label>Ange namn på ingrediens:</label>
                <input type="text" class="form-control" asp-for="Food.MatrattNamn" />
                <button type="submit" class="btn btn-danger">Skapa ingrediens</button>
            </div>
        </form>
    </div>
</div>

