@model FoodManageViewModel

@{
    ViewBag.Title = "Admin";
}

@section style{
    <link rel="stylesheet" href="~/css/Admin.css" />
}

<div class="container d-flex flex-column align-items-center">
    <div class="row">
        <div class="col mt-5">
            <h1>Hantera Maträtter</h1>
        </div>
    </div>

    <div class="row">
        <div class="col mt-3">
            <button onclick="toogleDiv('#changeFood')" class="btn btn-danger adminHomeBtn" role="button" aria-pressed="true">Ändra befintlig maträtt</button>
        </div>
    </div>

    <div id="changeFood" class="mt-3">
        <h5>Välj Maträtt:</h5>
        <form asp-controller="Admin" asp-action="GetFoodDetails"
              data-ajax="true"
              data-ajax-method="GET"
              data-ajax-mode="replace"
              data-ajax-update="#foodDetails">
            <input type="hidden" asp-for="IngredientName" value="valid" />
            <input type="hidden" asp-for="FoodName" value="valid" />
            <input type="hidden" asp-for="FoodPrice" value="1" />
            <div class="form-group">
                <select class="form-control" asp-for=FoodId asp-items="@Model.FoodSelectList"></select>
            </div>
            <div class="d-flex justify-content-end">
                <input type="submit" class="btn btn-dark btn-block" value="Redigera" />
            </div>
        </form>
        <div id="foodDetails"></div>
    </div>

    <div class="row">
        <div class="col mt-3">
            <button onclick="toogleDiv('#createFood')" class="btn btn-danger adminHomeBtn" role="button" aria-pressed="true">Skapa ny maträtt</button>
        </div>
    </div>

    <div id="createFood">
        <form asp-action="CreateFood" method="post">
            <input type="hidden" asp-for="IngredientName" value="valid" />
            <div class="form-row mt-3">
                <div class="form-group m-2">
                    <label>Kategori:</label>
                    <select class="form-control" asp-items="@Model.CategorySelectList" asp-for="Food.MatrattTyp"></select>
                </div>
                <div class="form-group m-2">
                    <label>Namn:</label>
                    <input type="text" class="form-control" asp-for="FoodName">
                    <span asp-validation-for="FoodName"></span>
                </div>
                <div class="form-group m-2">
                    <label>Pris:</label>
                    <input type="text" class="form-control" asp-for="FoodPrice" value="">
                    <span asp-validation-for="FoodPrice"></span>
                </div>
            </div>
            <div class="form-group m-2">
                <label>Beskrivning:</label>
                <textarea class="form-control" asp-for="Food.Beskrivning" rows="6"></textarea>
            </div>
            <input type="submit" class="btn btn-dark btn-block" value="Skapa maträtt" />
        </form>
    </div>

    <div class="row">
        <div class="col mt-3">
            <button onclick="toogleDiv('#createIngredient')" class="btn btn-danger adminHomeBtn" role="button" aria-pressed="true">Skapa ny ingrediens</button>
        </div>
    </div>

    <div id="createIngredient">
        <form asp-action="CreateIngredient"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#foodDetails">
            <div class="form-group">
                <input type="hidden" asp-for="FoodId" value="@Model.FoodId" />
                <input type="hidden" asp-for="FoodName" value="valid" />
                <input type="hidden" asp-for="FoodPrice" value="1" />
                <label>Ange namn på ingrediens:</label>
                <input type="text" class="form-control" asp-for="IngredientName" />
                <span asp-validation-for="IngredientName"></span>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Skapa ingrediens</button>
        </form>
    </div>
</div>

