@model AdminOrderViewModel
@inject UserManager<ApplicationUser> userManager;

@{
    ViewBag.Title = "Admin";
}

@section style{
    <link rel="stylesheet" href="~/css/Admin.css" />
}

<div class="container d-flex flex-column align-items-center">
    <div class="row">
        <div class="col mt-2">
            <h1>Hantera Ordrar</h1>
        </div>
    </div>

    <div class="row">
        <div class="col mt-2">
            <div id="orderUsers">
                <h3> Välj kund:</h3>
                <form asp-controller="Admin"
                      asp-action="OrderDetails"
                      data-ajax="true"
                      data-ajax-method="GET"
                      data-ajax-mode="replace"
                      data-ajax-update="#orderDetails">
                        
                    <select class="form-control" id="userSelect" asp-for="UserId">
                        <option></option>
                        @foreach (var user in Model.Users)
                        {
                            <option value="@user.Id">@user.Name</option>
                        }
                    </select>

                    <input type="submit" class="btn btn-danger" aria-pressed="true" />
                </form>
            </div>
            <div id="orderDetails"></div>
        </div>
    </div>
</div>