<nav class="navbar navbar-expand-lg navbar-dark sticky-top container-fluid justify-content-around">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Hem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Order", "Order")">Beställ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Login", "Customer")">Logga In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Register", "Account")">Öppna Konto</a>
            </li>
        </ul>
    </div>
</nav>