@model OrderDetailsViewModel
@inject TomasosContext context;

    <tr>
        <th>Antal</th>
        <th>Maträtt</th>
    </tr>

@foreach (var food in Model.Foods)
{
    <tr>
        <td>@context.BestallningMatratt.Where(o => o.BestallningId == Model.OrderId && o.MatrattId == food.MatrattId).Select(f => f.Antal).FirstOrDefault()</td>
        <td>@food.MatrattNamn</td>
    </tr>
}

<script>
    $("#@Model.OrderId-viewDetailsBtn").click(function () {
       
            $("#@Model.OrderId-orderInfo").toggle();
        });
</script>


